doctype
html(class="has-navbar-fixed-top has-background-white-ter")
	head
		title= title

		// External dependency downloads
		include includes/externalDependencies.pug

		script(src="/public/scripts/registration.js",  
			crossorigin="anonymous")

		link(rel="stylesheet",
			href="/public/styles/style.css")

		// Top Navbar
		include includes/navbar.pug

	body
		// Header
		h1(class="title") Register an account
		
		div(class="columns is-centered")
			// User info input
			form(method="post", class="input-panel column is-one-third has-background-grey-lighter validate" id="registrationForm")
				// Username input
				label(class="label", for="username") Username:
				div(class="field")
					div(class="control has-icons-left")
						input(type="text", class="input is-dark", id="usernameField", name="username", placeholder="Username")
						span(class="icon is-small is-left")
							i(class="fas fa-address-card")
				// Username error message
				div(class="errorMessage content columns is-centered" id="usernameErrorMessage")= usernameErrorMessage
				
				// Password input
				label(class="label", for="password") Password:
				div(class="field has-addons")
					div(class="control has-icons-left is-expanded")
						input(type="password", class="input is-dark", id="passwordField", name="password", placeholder="Password")
						span(class="icon is-small is-left")
							i(class="fas fa-key")
					// Addons
					div(class="control")
						// Toggle plaintext password button
						button(type="button", class="button" id="showPasswordBtn") Show
				// Password error message
				div(class="errorMessage content columns is-centered" id="passwordErrorMessage")= passwordErrorMessage
				
				// Register button
				div(class="buttons is-centered")
					button(type="submit", class="button is-link is-large", id="registerBtn") Register